body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 0%, rgba(0,212,255,1) 100%);
  }
main {
    margin-top: 60px;
  }
  
  form {
    width: 350px;
    margin-bottom: 10px;
  }
  
  ul {
    margin-bottom: 0px;
  }
  
  #completedTaskList .content {
    color: grey;
    text-decoration: line-through;
  }
  .navi{
      background:white !important;
  }
 